table {
    border: 3px solid black;
    display: inline-table;
}

td {
    border: 2px solid black;
    height: 26px;
    width: 160px;
    text-align: center;
}

h1 {
    text-align: center;
    border: 5px double black;
}

header {
    background-color: rgb(200, 200, 200);
}

main {
    text-align: center;
}
